.addressRow {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 12px;
    min-height: 60px;
    margin-bottom: 15px;
}
.addressRow:not(:first-child){
    border: 1px solid #efefef;
    min-height: 50px;
    margin-bottom: 8px;
}
.addressRow:nth-child(odd){
    background-color: #f1f1f1;
}
.addressRow:nth-child(even){
    background-color: #fefefe;
}


.addressCols {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    align-items: stretch;
    font-size: 12px;
    color: rgb(40, 41, 44);
    line-height: 18px;
    padding: 0px 0.5%;
    text-align: center;
}
.addressRow:not(:first-child) .addressCols {
    font-weight: 300;
}
.addressCols:nth-child(1) {
    flex: 0.15 1 0%;
}

.addressCols:nth-child(2) {
    flex: 0.2 1 0%;
}

.addressCols:nth-child(3) {
    flex: 0.5 1 0%;
}

.addressCols:nth-child(4) {
    flex: 0.15 1 0%;
}
